body {
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.container {
  width: 200px;
  height: 20px;
  margin: 60px auto 0 auto;
  border-radius: 25px;
  transform: scale(0.95);
  transition: all 0.5s;
}
.container:hover {
  transform: scale(1);
  background-color: rgb(34, 32, 32);
}
.movie-rating {
  position: absolute;
  right: 12px;
  top: 6px;
  z-index: 999;
}
img {
  width: 100%;
  height: 375px;
}
.movie-img {
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
  z-index: 111 !important;

  position: relative;
}
.movie {
  background-color: black;
  position: absolute;
  background-size: contain;
  background-size: cover;
  z-index: 1 !important;
  width: 275px;
  height: 580px;
  display: block;
}

.text-movie-cont {
  padding: 0px 12px;
  text-align: justify;
}
.rating {
  color: #fe4141;
  font-size: 30px;
}
.watch-btn {
  display: block;
  border: 4px solid orange;
  border-radius: 20px;
  padding: 6px;
  width: 120px;
  cursor: pointer;
}
.watch-btn:hover {
  background-color: orange;
}
.watch-btn:hover h3 {
  color: white;
}
.action-row {
  margin-top: 20px;
}

.summary-row {
  margin-top: 12px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  color: orange;
}

h5 {
  font-size: 12px;
  font-weight: 400;
  color: black;
}

.movie-gen {
  margin: 0px;
  padding: 0px;
}

.movie-gen p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #e7e7e78a;
  width: auto;
  display: block;
  float: left;
  margin-right: 6px;
  font-weight: 600;
}
.summary-row p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #e7e7e78a;
  text-align: justify;
  line-height: 1.8;
}

.thegrid {
  margin: 0 auto;
}

.elements-distance {
  margin: 0px;
}

.mr-grid {
  width: 100%;
}
.mr-grid:before,
.mr-grid:after {
  content: "";
  display: table;
}
.mr-grid:after {
  clear: both;
}
.mr-grid {
  *zoom: 1;
}

.col1,
.col2,
.col3,
.col3rest,
.col4,
.col4rest,
.col5,
.col5rest,
.col6,
.col6rest {
  margin: 0% 0.5% 0.5% 0.5%;
  padding: 1%;
  float: left;
  display: block;
}

.col1 {
  width: 98%;
}
.col2 {
  width: 47%;
}
.col3 {
  width: 30.3333333333%;
}
.col4 {
  width: 22%;
}
.col5 {
  width: 17%;
}
.col6 {
  width: 13.6666666667%;
}

/* Columns match with their individual number. E.G. col3+col3rest=full width row */

.col3rest {
  width: 63.6666666667%;
}
.col4rest {
  width: 72%;
}
.col5rest {
  width: 77%;
}
.col6rest {
  width: 80.3333333333%;
}
