.Add-btn {
  background-color: orange;
  border: transparent;
  color: black;
  font-size: 50px;
  cursor: pointer;
  width: 40px;
  height: 70px;
  opacity: 0.5;
}

.addMovie-h1 {
  color: #1e1b26;
}
.add-modal {
  position: relative;
  top: 10%;
  left: 35%;
  padding: 20px;
  width: 500px;
  text-align: center;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: white;
}
form h1 {
  text-decoration: underline;
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
form input {
  width: 98%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid orange;
  color: grey;
  padding-left: 10px;
  margin-top: 10px;
}
form label {
  margin-top: 20px;
}
form input:focus {
  outline: 0;
}
form textarea {
  border-radius: 5px;
  border: 1px solid orange;
  color: grey;
  padding: 10px;
  margin-top: 10px;
}
form textarea:focus {
  outline: 0;
}
/* modal Buttons */
.Modal-btn {
  border-radius: 5px;
  background-color: orange;
  border: transparent;
  color: black;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}
.Modal-btn:hover {
  background-color: #fb8500;
}
.Modal-btn:focus {
  outline: 0;
}
